input {
  border: 1px solid #bb65ff;
  border-radius: 1rem;
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555;

  &:focus {
    outline: #bb65ff auto 5px;
    box-shadow: none;
  }

  &:invalid {
    border: 2px solid #ff6565;
  }
}

label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857143;
  color: #555;

  & + input {
    margin-top: 10px;
  }
}
