<main>
  <div class="match-table">
    <match-desk class="desk"></match-desk>
    <div class="seat seat--1">
      <match-card>1</match-card>
    </div>
    <div class="seat seat--2">
      <match-card>2</match-card>
    </div>
    <div class="seat seat--3">
      <match-card>3</match-card>
    </div>
    <div class="seat seat--4">
      <match-card>4</match-card>
    </div>
    <div class="seat seat--5">
      <match-card>5</match-card>
    </div>
    <div class="seat seat--6">
      <match-card>6</match-card>
    </div>
    <div class="seat seat--7">
      <match-card>7</match-card>
    </div>
    <div class="seat seat--8">
      <match-card>8</match-card>
    </div>
  </div>
</main>
