@import "/src/styles.scss";

.page-container {
  @include lg {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 100px 1fr;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;

  @include lg {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary-color);
  margin: 0 auto;

  @include lg {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0;

    display: grid;
    grid-template-columns: subgrid;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-left: 1rem;

    img {
      width: auto;
      height: 100%;
    }

    @include lg {
      margin-left: 0;
    }
  }

  .match__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include lg {
      gap: 2rem;
    }
  }
}

.match-table {
  display: grid;
  margin-top: 4rem;

  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(5, 0.35fr);

  justify-items: center;
  align-items: center;

  @include lg {
    grid-template-columns: repeat(5, 0.4fr);
    grid-template-rows: repeat(3, 0.7fr);
  }
}

.desk {
  grid-column: 2;
  grid-row: 2 / 5;

  button {
    width: 75%;
  }

  @include lg {
    grid-column: 2 / 5;
    grid-row: 2;

    button {
      width: initial;
    }
  }
}

.seat {
  &--1 {
    grid-column: 2;
    grid-row: 1;

    @include lg {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &--2 {
    grid-column: 1;
    grid-row: 2;

    @include lg {
      grid-column: 2;
      grid-row: 1;
    }
  }

  &--3 {
    grid-column: 1;
    grid-row: 3;

    @include lg {
      grid-column: 3;
      grid-row: 1;
    }
  }

  &--4 {
    grid-column: 1;
    grid-row: 4;

    @include lg {
      grid-column: 4;
      grid-row: 1;
    }
  }

  &--5 {
    grid-column: -2;
    grid-row: 2;

    @include lg {
      grid-column: 2;
      grid-row: -2;
    }
  }

  &--6 {
    grid-column: -2;
    grid-row: 3;

    @include lg {
      grid-column: 3;
      grid-row: -2;
    }
  }

  &--7 {
    grid-column: -2;
    grid-row: 4;

    @include lg {
      grid-column: 4;
      grid-row: -2;
    }
  }

  &--8 {
    grid-column: 2;
    grid-row: -2;

    @include lg {
      grid-column: -2;
      grid-row: 2;
    }
  }
}

.card-deck {
  display: none;

  @include lg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 7rem;
    padding-bottom: 4rem;
    margin-top: auto;
  }
}
