@import '/src/styles.scss';

.outer-line {
  --width: 175px;
  --height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--width) * 1.2);
  height: calc(var(--height) * 1.2);
  border-radius: 50rem;
  background-color: transparent;
  --accent-color: #7443d6;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 1px var(--accent-color), inset 0 0 1px var(--accent-color);

  @include sm {
    --width: 200px;
    --height: 400px;
  }

  @include lg {
    --width: 400px;
    --height: 200px;
  }
}

.inner-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(var(--width) * 1.1);
  height: calc(var(--height) * 1.1);
  border-radius: 50rem;
  background-color: transparent;
  border: 1px solid var(--light-lila);
}

.desk {
  width: var(--width);
  height: var(--height);
  border-radius: 50rem;
  border: 1px solid var(--accent-color);
  background-color: var(--dark-purple);
}
