form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    margin-top: 2rem;
    align-self: center;
  }
}

.error {
  background-color: red;
  margin-top: 0.5rem;
}
