<app-dialog>
  <div class="invite-dialog__header">
    <h2 class="invite-dialog__title">Invite a friend</h2>
    <button class="invite-dialog__close" (click)="closeDialog()">
      <mat-icon color="#fff" fontIcon="close"></mat-icon>
    </button>
  </div>
  <div class="invite-dialog__body">
    <input
      type="text"
      class="invite-dialog__link text-input"
      [value]="inviteLink"
      disabled
    />

    <div class="invite-dialog__copy">
      <app-button color="secondary" (click)="copyLink()">
        <span>Copy</span>
      </app-button>
    </div>
  </div>
</app-dialog>
