app-dialog {
  min-width: 356px;
}

.invite-dialog {
  &__header {
    width: 100%;
    background-color: #6429cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  &__title {
    margin: 0;
    font-size: 1rem;
  }

  &__close {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: white;
    border: 0;
    font-size: 1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 26px;
  }
}
