<div class="match-table">
  <div class="desk-container">
    <div class="outer-line">
      <div class="inner-line">
        <div class="desk">
          <app-button
            class="btn btn--primary"
            color="primary"
            *ngIf="canShowResetGameButton | async"
            (click)="onResetGameClick()"
          >
            Nueva votación
          </app-button>
          <app-button
            class="btn btn--primary"
            color="primary"
            *ngIf="canShowRevealCardsButton | async"
            (click)="onRevealCardsClick()"
          >
            Revelar las cartas
          </app-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let player of players; let i = index" [class]="getSeatClass(i)">
    <app-avatar
      *ngIf="player.id === currentUserId; else normalCard"
      [name]="player.name"
    ></app-avatar>
    <ng-template #normalCard>
      <app-card
        [selected]="didPlayerSelectCard(player)"
        [value]="player.card | formatCardValue"
        [show]="areCardsRevealed ?? false"
      >
        {{ player.name }}
      </app-card>
    </ng-template>
  </div>
</div>
