.dialog-container {
  background-color: #1f0d3f;
  border: 1px solid var(--accent-color);
  border-radius: 1.5rem;
  padding: 0rem 4rem;
  width: 90%;
  margin: 0 auto;
  max-width: 25rem;
  min-width: 356px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 2rem;

  button {
    align-self: center;
  }
}

.mode-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.25rem;
}

.radio-field {
  position: relative;

  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  span {
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--accent-color);
      display: none;
    }
  }

  input[type="radio"]:checked + span::after {
    display: block;
  }
}
