<div>
  <form>
    <div>
      <label for="name" class="label label--bold">Tu nombre</label>
      <input type="text" id="name" name="name" class="text-input" />
    </div>
    <div class="mode-container">
      <div class="radio-field">
        <label for="player-mode" class="label">Jugador</label>
        <input type="radio" name="mode" id="player-mode" />
      </div>
      <div class="radio-field">
        <label for="spectador-mode" class="label">Espectador</label>
        <input type="radio" name="mode" id="spectador-mode" />
      </div>
    </div>
  </form>
</div>
