<div class="dialog-container">
  <form>
    <div>
      <div>
        <label for="name" class="label label--bold">Tu nombre</label>
        <input type="text" id="name" name="name" class="text-input" />
      </div>
      <div class="mode-container">
        <div class="radio-field">
          <label for="player-mode" class="label">
            Jugador
            <input type="radio" name="mode" id="player-mode" value="player" />
            <span> </span>
          </label>
        </div>
        <div class="radio-field">
          <label for="spectador-mode" class="label">
            Espectador
            <input type="radio" name="mode" id="spectador-mode" value="spectator" />
            <span> </span>
          </label>
        </div>
      </div>
    </div>
    <button type="submit">Continuar</button>
  </form>
</div>
