.dialog-container {
  background-color: #1f0d3f;
  border: 1px solid var(--accent-color);
  border-radius: 1.5rem;
  padding: 0rem 4rem;
  width: 90%;
  margin: 0 auto;
  max-width: 30rem;
  min-width: 356px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 2rem;

  button {
    align-self: center;
  }
}

.mode-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0.25rem;
}
