.dialog-container {
  background-color: var(--dark-purple);
  border: 1px solid var(--accent-color);
  border-radius: 1.5rem;
  padding: 0rem 4rem;
  width: 90%;
  margin: 0 auto;
  max-width: 25rem;
  min-width: 356px;

  box-shadow: 0px 0px 7px var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 2rem;

  button {
    align-self: center;
  }
}

.mode-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.error {
  background-color: red;
  margin-top: 0.5rem;
}
