@if (!isUserChosed) {
  <div class="backdrop"></div>
  <match-join-dialog
    (onSubmit)="handleUserChoose($event)"
    class="dialog-wrapper"
  ></match-join-dialog>
}
@if (isInviteModalOpen) {
  <div class="backdrop"></div>
  <match-invite-dialog
    (close)="handleInviteModalClose()"
    class="dialog-wrapper"
  ></match-invite-dialog>
}
@if (isCardDeckModalOpen) {
  <div class="backdrop hide-lg"></div>
  <match-card-deck-modal
    class="hide-lg"
    [selectedCard]="selectedCard"
    (cardSelect)="onSelectedCard($event)"
  ></match-card-deck-modal>
}
@if (areCardsRevealed) {
  <div class="backdrop hide-lg"></div>
  <match-results-dialog
    class="hide-lg"
    [results]="results"
  ></match-results-dialog>
}

<div class="page-container">
  <nav>
    <match-nav
      (isInviteModalOpenChange)="handleInviteModalOpen()"
      [isInviteModalOpen]="isInviteModalOpen"
    ></match-nav>
  </nav>
  <main>
    <match-desk></match-desk>
    @if (!areCardsRevealed) {
      <match-card-deck
        [selectedCard]="selectedCard"
        (cardSelect)="onSelectedCard($event)"
      ></match-card-deck>
    }
  </main>
  @if (areCardsRevealed) {
    <match-results [results]="results"></match-results>
  }
</div>
