@import "/src/styles.scss";

.page-container {
  @include lg {
    display: grid;
    position: relative;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 100px 1fr;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
}

.responsive-card-deck {
  display: block;

  @include lg {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;

  @include lg {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
  }
}


.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.dialog-wrapper {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
