@if (!isUserChosed) {
  <div class="backdrop"></div>
  <match-join-dialog
    (onSubmit)="handleUserChoose($event)"
    class="dialog-wrapper"
  ></match-join-dialog>
}
@if (isInviteModalOpen) {
  <div class="backdrop"></div>
  <match-invite-dialog
    (close)="handleInviteModalClose()"
    class="dialog-wrapper"
  ></match-invite-dialog>
}
@if (isCardDeckModalOpen) {
  <div class="backdrop responsive-card-deck"></div>
  <match-card-deck-modal
    class="responsive-card-deck"
    [selectedCard]="selectedCard"
    (cardSelect)="onSelectedCard($event)"
  ></match-card-deck-modal>
}

<div class="page-container">
  <nav>
    
  </nav>
  <main>
    <match-desk></match-desk>
    <match-card-deck
      [selectedCard]="selectedCard"
      (cardSelect)="onSelectedCard($event)"
    ></match-card-deck>
  </main>
</div>
