<div class="container">
  <p>
    <strong>Elige una carta 👇</strong>
  </p>
  <div class="card-deck-container">
    <div class="card-deck">
      <app-card [selected]="true">1</app-card>
      <app-card>2</app-card>
      <app-card>3</app-card>
      <app-card>4</app-card>
      <app-card>5</app-card>
      <app-card>6</app-card>
      <app-card>7</app-card>
      <app-card>8</app-card>
      <app-card>9</app-card>
      <app-card>10</app-card>
      <app-card>11</app-card>
      <app-card>12</app-card>
    </div>
  </div>
</div>
