@import "../../../../../styles.scss";

.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include lg {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
  }
}

.card-deck-container {
  display: none;

  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p {
      font-size: 1.25rem;
      font-weight: 700;
      text-align: center;
    }

    .card-deck {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      min-height: 7rem;
      padding-bottom: 2rem;
      margin-top: auto;

      & > * {
        transition: all 0.2s ease-in-out;
      }

      & > *:hover {
        transform: translateY(-10px);
      }

      & > .selected {
        transform: translateY(-10px);
      }

      // If the card is selected, and the user hovers over another card,
      // the hovered card should not move.
      &:has(.selected) *:not(.selected):hover {
        transform: none;
      }
    }
  }
}
