:host {
  display: block;
}

.dialog-container {
  background-color: var(--dark-purple);
  border: 1px solid var(--accent-color);
  border-radius: 1.5rem;
  width: 90%;
  margin: 0 auto;
  max-width: 25rem;
  min-width: 356px;

  box-shadow: 0px 0px 7px var(--accent-color);
}
