nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary-color);
  margin: 0 auto;

  @include lg {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0;

    display: grid;
    grid-template-columns: subgrid;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-left: 1rem;

    img {
      width: auto;
      height: 100%;
    }

    @include lg {
      margin-left: 0;
    }
  }

  .match__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include lg {
      gap: 2rem;
    }

    .spectators {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      app-avatar {
        border: 2px solid #fff;
        border-radius: 50%;

        &:not(:first-child) {
          margin-left: -1.25rem;
        }
      }
    }
  }
}
