@if (!isUserChosed) {
<div class="backdrop"></div>
<match-join-dialog
  (onSubmit)="handleUserChoose($event)"
  class="dialog-wrapper"
></match-join-dialog>
}
<div class="page-container">
  <nav>
    <div class="logo">
      <img src="assets/pragma.png" alt="Logo" />
    </div>
    <p class="match__title">
      {{ name$ | async | json }}
    </p>
    <div class="right">
      <div class="user">
        <match-avatar
          [showLabel]="false"
          size="small"
          name="David"
        ></match-avatar>
      </div>
      <div class="menu">
        <button class="btn btn--outlined">Invitar jugadores</button>
      </div>
    </div>
  </nav>
  <main>
    <div class="match-table">
      <match-desk class="desk">
        <button class="btn btn--primary">Nueva votación</button>
      </match-desk>

      <div
        *ngFor="let player of players$ | async; let i = index"
        [class]="getSeatClass(i)"
      >
        <match-avatar
          *ngIf="i === currentUserIndex; else normalCard"
          name="David"
        ></match-avatar>
        <ng-template #normalCard>
          <match-card>
            {{ player.name }}
          </match-card>
        </ng-template>
      </div>
    </div>
    <div class="card-deck-container">
      <p>
        <strong>Elige una carta 👇</strong>
      </p>
      <div class="card-deck">
        <match-card [selected]="true">1</match-card>
        <match-card>2</match-card>
        <match-card>3</match-card>
        <match-card>4</match-card>
        <match-card>5</match-card>
        <match-card>6</match-card>
        <match-card>7</match-card>
        <match-card>8</match-card>
        <match-card>9</match-card>
        <match-card>10</match-card>
        <match-card>11</match-card>
        <match-card>12</match-card>
      </div>
    </div>
  </main>
</div>
