@if (!isUserChosed) {
<div class="backdrop"></div>
<match-join-dialog
  (onSubmit)="handleUserChoose($event)"
  class="dialog-wrapper"
></match-join-dialog>
} @if (isInviteModalOpen) {
<div class="backdrop"></div>
<match-invite-dialog
  (close)="handleInviteModalClose()"
  class="dialog-wrapper"
></match-invite-dialog>
}
<div class="page-container">
  <nav>
    <div class="logo">
      <img src="../../../assets/pragma.png" alt="Logo" />
    </div>
    <p class="match__title">
      {{ name$ | async | json }}
    </p>
    <div class="right">
      <div class="spectators">
        <app-avatar
          *ngFor="let spectator of spectators$ | async"
          [showLabel]="false"
          size="small"
          [name]="spectator.name"
        ></app-avatar>
        <app-avatar
          *ngIf="spectatorsCount > 3"
          [showLabel]="false"
          size="small"
          [customPrefix]="spectatorCountLabel"
          [backgroundColor]="'white'"
        ></app-avatar>
      </div>
      <div class="menu">
        <app-button (click)="handleInviteModalOpen()" variant="outlined">
          Invitar jugadores
        </app-button>
      </div>
    </div>
  </nav>
  <main>
    <match-desk></match-desk>
    <match-card-deck></match-card-deck>
  </main>
</div>
