.avatar {
  &__circle {
    width: 50px;
    height: 50px;
    background-color: var(--somewhat-blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__prefix {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__name {
    text-align: center;
    margin: 0.5rem 0;
    color: #fff;
  }

  &--stacked {
    border: 2px solid white;
  }

  &--small {
    .avatar__circle {
      width: 37px;
      height: 37px;
    }

    .avatar__name {
      display: none;
    }

    .avatar__prefix {
      font-size: 0.8rem;
    }
  }
}
