button,
.btn {
  font-weight: bold;
  border: 1px solid var(--dark-purple);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0;

  &--primary {
    color: #fff;
    background-color: var(--accent-color);
  }

  &--secondary {
    color: var(--dark-purple);
    background-color: #fff;
  }

  &--outlined {
    border-color: #fff;
    background-color: transparent;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: var(--dark-purple);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
  }
}
