form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
  padding: 0rem 4rem;

  button {
    align-self: center;
  }
}

.mode-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.error {
  background-color: red;
  margin-top: 0.5rem;
}
