.create-match-form {
  // ? This is a hack to make the form fill the screen
  padding: 41vh 0;

  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error {
  background-color: red;
  margin-top: 0.5rem;
}
