<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <label class="label" for="match-name">Nombra la partida</label>
    <input
      class="text-input"
      type="text"
      id="match-name"
      name="match-name"
      formControlName="name"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
      <div *ngIf="name.errors?.['required']">El nombre es requerido</div>
      <div *ngIf="name.errors?.['minlength']">
        El nombre debe tener al menos 5 caracteres
      </div>
      <div *ngIf="name.errors?.['maxlength']">
        El nombre debe tener menos de 20 caracteres
      </div>
      <div *ngIf="name.errors?.['pattern']">
        El nombre solo puede contener letras y números
      </div>
    </div>
  </div>
  <app-button [disabled]="formGroup.invalid" type="submit">Submit</app-button>
</form>
